
.ranklist{
  position: relative;
  min-width: 350px;
  max-height: 500px;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-right: 50px;
  align-items: center;
  overflow-y: auto;

}
.ranklist h3{
  color: #fff;
  margin-bottom: 20px;
}
.ranklist .list .content{
  position: relative;
  display: flex;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 10px 0;
  transition: 0.5s;
  flex-direction: column;
}

.ranklist .list .content{
  display: flex;
  flex-direction:column;
  color: #fff;
  margin-left: 10px;
}



.ranklist .list .content .rank{
  color: aqua;
}

  