.Judge {
    width: 100%;
    height: 100vh;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 2rem;
    background-color: violet;
}

.body {
    height: 80vh; 
}

iframe {
    width: 100%;
    height: 100%;
}