/* 
  .pet img{
    position: relative;
    bottom: 10%;
    width: 190px;
    height: 286px;
    z-index: 0;
   } */
   .pet h3{
    z-index: 20;
    color:#321b50ab;
 
   }
  .pet button{
    margin: 10px;
  }
  .pet .food{
    /* background-color: #fff; */
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 10px;
  }
  .pet .food img{
    cursor: pointer;
    /* border: solid 1px floralwhite */
  }
  .pet .food{
    align-items: center;
    text-align: center;
  }
  .pet .unvisible{
    display: none;
  }


  .pet{
    position: relative;
    min-width: 350px;
    max-height: 500px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2); 
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    margin-top: 150px;   
    margin-right: 50px;
    color: white;
    align-items: center;
  }
  
  .pet h3{
    z-index: 20;
  }
  
  .pet_block{
    position: relative;
    bottom: 10%;   
    width: 300px;
    height: 320px;
    z-index: 0;
  }
  
  
  @keyframes jump {
    10%{
      transform: scale(1, 1);
      bottom: 0px;
    }
    15% {
      transform: scale(1.3, 0.7);
      bottom: -20px;
    }
    20%{
      transform: scale(0.8, 1.2);
      bottom: 140px;
    }
    30%{
      transform: scale(1, 1);
      bottom: 160px;
    }
    35%{
      transform: scale(0.8, 1.2);
      bottom: 140px;
    }
    40%{
      transform: scale(1.3, 0.7);
      bottom: -20px;
    }
    43%{
      transform: scale(1, 1);
      bottom: 0px;
    }
    60%{
      transform: scale(1, 1);
      bottom: 0px;
    }
    65% {
      transform: scale(1.3, 0.7);
      bottom: -20px;
    }
    70%{
      transform: scale(0.8, 1.2);
      bottom: 140px;
    }
    80%{
      transform: scale(1, 1);
      bottom: 160px;
    }
    85%{
      transform: scale(0.8, 1.2);
      bottom: 140px;
    }
    90%{
      transform: scale(1.3, 0.7);
      bottom: -20px;
    }
    93%{
      transform: scale(1, 1);
      bottom: 0px;
    }
  
  }
  
  @keyframes eat {
    10%{
      transform: scale(1, 1);
      bottom: 0px;
    }
    20% {
      transform: scale(0.85, 1.15) rotate(6deg);
    }
    30%{
      transform: scale(0.98, 1.02) rotate(7deg);
    }
    40%{
      transform: scale(1.2, 0.8) rotate(5deg);
    }
    66%{
      transform: scale(0.95, 1.05) rotate(-4deg);
    }
    72%{
      transform: scale(0.96, 1.04) rotate(-3deg);
    }
    80%{
      transform: scale(1, 1);
      bottom: 0px;
    }
  }
  
  @keyframes idle {
    0%{
      transform: scale(1.05, 0.95);
    }
    10% {
      transform: scale(1.03, 0.97);
    }
    25%{
      transform: scale(1, 1);
      bottom: 1.7px;
    }
    55%{
      transform: scale(1.03, 0.97);
      bottom: 6px;
    }
    70%{
      transform: scale(1.05, 0.95);
      bottom: 4.3px;
    }
    90%{
      transform: scale(1.03, 0.97);
      bottom: 0px;
    }
    100%{
      transform: scale(1.05, 0.95);
    }
  }
  
  #egg{
    position: absolute;
    bottom: 0%;
    /* width: 160px;
    height: 160px; */
    align-content: center;
    justify-content: center;
  }
  
  #egg[move='1']{
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: 10ms ease-in-out;
  }
  
  #egg[move='2']{
    animation-name: eat;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: linear;
  }
  
  #egg{
    animation: idle 2s linear infinite;
  }